<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Affichage de la position de l'utilisateur</title>
{% csrf_token %}
</head>
<body>

<h1>Position de l'utilisateur</h1>

<div id="position-utilisateur">
  <p>En attente de la récupération de la position...</p>
</div>

<script>
function getUserPosition() {
  if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(
      function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        sendDataToServer(latitude, longitude);
        var positionDiv = document.getElementById("position-utilisateur");
        positionDiv.innerHTML = "<p>Latitude : " + latitude + "</p><p>Longitude : " + longitude + "</p>";
      },
      function(error) {
        console.error("Error user location :", error.message);
        var positionDiv = document.getElementById("position-utilisateur");
        positionDiv.innerHTML = "<p>Unable to retrieve user location.</p>";
      }
    );
  } else {
    console.error("Geolocation is not supported by this browser.");
    var positionDiv = document.getElementById("position-utilisateur");
    positionDiv.innerHTML = "<p>Geolocation is not supported by this browser.</p>";
  }
}

function sendDataToServer(latitude, longitude) {
  var data = {
    latitude: latitude,
    longitude: longitude
  };

  var url = 'https://nominatim.openstreetmap.org/reverse?format=json&lat=' + latitude + '&lon=' + longitude + '&zoom=18&addressdetails=1';

  fetch(url)
    .then(response => response.json())
    .then(geoData => {
      var city = geoData.address.city || geoData.address.town || geoData.address.village || geoData.address.hamlet || geoData.address.county || 'Unknown';
      data.city = city;
      saveLocation(data);
    })
    .catch(error => {
      console.error('Error fetching location data:', error);
    });
}


function saveLocation(data) {
  fetch('/api/location/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': getCookie('csrftoken')
    },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (response.ok) {
      console.log('Location data saved successfully.');
    } else {
      console.error('Error saving location data:', response.statusText);
    }
  })
  .catch(error => {
    console.error('Error saving location data:', error);
  });
}

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = cookies[i].trim();
      if (cookie.substring(0, name.length + 1) === (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

getUserPosition();
</script>

</body>
</html>
